/* 하위 선택자 (descendant selector) */
.outer li {
  color: olivedrab;
}

/* 자식 선택자 (child selector) */
.outer > li {
  color: dodgerblue;
}

/**/
.outer > li li {
  text-decoration: underline;
}

.starter ~ li {
  font-style: italic;
}

ol li.first-child,
ol li:last-child {
  color: yellowgreen;
}
